!!! 5
%html
  %head
    %link{ :href => "/css/styles.css", :rel => "stylesheet" }

  %body
    #nav
      %ul
        %li
          %a{ :href => "#indivual", :class => "arrow-up"}
        %li
          %a{ :href => "#same-image", :class => "arrow-down"}
    #indivual
      %img{ :id => "pixelate-1", :src => "/img/me.jpg"}
      %img{ :id => "pixelate-2", :src => "/img/me.jpg"}
      %img{ :id => "pixelate-3", :src => "/img/me.jpg"}
      %img{ :id => "pixelate-4", :src => "/img/me.jpg"}
      %img{ :id => "normal", :src => "/img/me.jpg" }
      %img{ :id => "pixelate-5", :src => "/img/me.jpg"}
      %img{ :id => "pixelate-6", :src => "/img/me.jpg"}
      %img{ :id => "pixelate-7", :src => "/img/me.jpg"}
      %img{ :id => "pixelate-8", :src => "/img/me.jpg"}
    #same-image
      - 9.times do |i|
        %canvas{ :id => "canvas-#{i+1}" }

      %script{:type => "text/javascript", :src  => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
      %script{:type => "text/javascript", :src  => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"}
      %script{:type => "text/javascript", :src  => "/js/pixelate.js"}
      %script{:type => "text/javascript", :src  => "/js/main.js"}
