!!! 5
%html
  %head
    %link{ :href => "/css/styles.css", :rel => "stylesheet" }

  %body
    #nav
      %ul
        %li
          %a{ :href => "#indivual", :class => "arrow-up"}
        %li
          %a{ :href => "#same-image", :class => "arrow-down"}
    #indivual
      - 8.times do |i|
        %img{ :id => "pixelate-#{i+1}", :src => "/img/me.jpg"}
        - if i == 3
          %img{ :id => "normal", :src => "/img/me.jpg" }

    #same-image
      - 9.times do |i|
        %canvas{ :id => "canvas-#{i+1}" }
    #meme
      %img{ :id => "dwight", :src => "/img/dwight.jpg"}

      %script{:type => "text/javascript", :src  => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
      %script{:type => "text/javascript", :src  => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"}
      %script{:type => "text/javascript", :src  => "/js/pixelate.js"}
      %script{:type => "text/javascript", :src  => "/js/main.js"}
